{% extends 'basic_app/base.html' %}
{% load staticfiles %}
{% block body_block %}

<header class="masthead" style="background-image: url({% static 'images/about.jpg'%})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Biography <i class="fas fa-info-circle"></i></h1>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        {% for description in about_me %}
        <div class="jumbotron">
          <p class="lead">{{ description.content }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
