{% extends 'basic_app/base.html'%}
{% load staticfiles %}
{% block body_block %}
  <!-- Displays the Talks -->
  <header class="masthead" style="background-image: url({% static 'images/talk.jpg'%})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Talks <i class="fas fa-university"></i></h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <hr>
          <ul>
            {% for talk in talks %}
              <li>
                <span class="talk-info">{{talk.title}}, {{talk.event}} - {{talk.place}}, <em>{{talk.start_date}}-{{talk.end_date}}</em></span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
